<div class="setting_warp user">
  <div>
    <app-setting-menu order="1"></app-setting-menu>
  </div>
  <div class="card_warp scene">
    <ng-container *ngIf="!showOperatePage">
      <h1 class="module_title">配件台账</h1>
      <div class="query_warp">
        <div>
          <nz-select class="BSpace" style="width: 120px;" [(ngModel)]="isStop" nzPlaceHolder="请选择">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option [nzValue]="false" nzLabel="未停用"></nz-option>
            <nz-option [nzValue]="true" nzLabel="已停用"></nz-option>
          </nz-select>
          <nz-select class="BSpace" style="width: 120px;" [(ngModel)]="isSafe" nzPlaceHolder="请选择">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option [nzValue]="false" nzLabel="是安全配件"></nz-option>
            <nz-option [nzValue]="true" nzLabel="不是安全配件"></nz-option>
          </nz-select>
          <nz-select class="BSpace" style="width: 120px;" [(ngModel)]="type" nzPlaceHolder="请选择">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option nzValue="0" nzLabel="配件"></nz-option>
            <nz-option nzValue="1" nzLabel="耗材"></nz-option>
            <nz-option nzValue="2" nzLabel="整机"></nz-option>
          </nz-select>
          <nz-select class="BSpace" style="width: 120px;" [(ngModel)]="matter" nzPlaceHolder="请选择">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option *ngFor="let item of listOfFilter" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
          <input class="BSpace" style="width:180px;" nz-input placeholder="按编码、型号、规格搜索" [(ngModel)]="proname" />
          <button class="BSpace" nz-button nzType="primary" (click)="search()">查询</button>
          <button nz-button nzType="default" (click)="download()">导出</button>
        </div>
        <div> <button nz-button nzType="default" (click)="add()" [nzLoading]="btnLoading">同步配件库</button>
        </div>
      </div>
      <div class="operate-text">
        <span>共{{additionalData?.pagination.total}}件，更新时间：{{additionalData?.datatime}}</span>
      </div>
      <div id="tableHeight" appTableHeight>
        <nz-table class="table_warp" #basicTable [nzData]="tableData" [nzLoading]="loading"
          [(nzPageIndex)]="q.pageIndex" [(nzTotal)]="q.total" [(nzPageSize)]="q.pageSize" [nzShowSizeChanger]="true"
          [nzFrontPagination]="false" (nzPageIndexChange)="pageIndexChange($event)"
          (nzPageSizeChange)="pageSizeChange($event)">
          <thead>
            <tr style="position: relative;" appTableScroll>
              <th>序号</th>
              <th>存货编码</th>
              <th>存货名称 </th>
              <th>规格 </th>
              <th>型号 </th>
              <th>计量单位 </th>
              <th>单价 </th>
              <th>创建时间 </th>
              <th>统一名称 </th>
              <th>版本号 </th>
              <th>图片 </th>
              <th>关联仪器 </th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data index as i">
              <td>{{i + 1 + ((q.pageIndex-1) * q.pageSize)}}</td>
              <td>{{data.inventoryCode}}</td>
              <td>{{data.inventoryName}}</td>
              <td>{{data.specification}}</td>
              <td>{{data.modelNumber}}</td>
              <td>{{data.unitOfMeasure}}</td>
              <td>{{data.unitPrice}}</td>
              <td>{{data.createTime}}</td>
              <td>{{data.seriesName}}</td>
              <td>{{data.seriesVersion}}</td>
              <td>
                <ng-container *ngIf="data.uploadFileFlag;else templateName">
                  <a (click)="lookUpimg(data.photoList)">已上传</a>
                </ng-container>
                <ng-template #templateName>
                  <span style="color: #EE0A0A">未上传</span>
                </ng-template>
              </td>
              <td>{{data.instrumentNum}}</td>

              <td>
                <a (click)="modify(data.id)">编辑</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </ng-container>
    <!-- 新建编辑 -->
    <ng-container *ngIf="showOperatePage">
      <div style="width: 50%;">

        <h1 class="module_title">
          <span (click)="showOperatePage =false" class="backIcon">&lt;</span>
          配件编辑
        </h1>
        <form *ngIf="showOperatePage" nz-form [formGroup]="operateForm" (ngSubmit)="saveOperateData()">
          <nz-row>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">存货编码</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  {{detailData.inventoryCode}}
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">存货名称</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  {{detailData.inventoryName}}

                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">单价（元）</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <input style="width: 100%;" nz-input placeholder="请填写" formControlName="unitPrice" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">配件类别</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <nz-select name="select-error" formControlName="accessoryCategoryId" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let item of typeList" [nzValue]="item.id" [nzLabel]="item.name">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">配件分类</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <nz-select name="select-error" formControlName="classification" nzShowSearch nzAllowClear>
                    <!-- 0: 配件 1: 耗材 2: 整机 -->
                    <nz-option nzValue="0" nzLabel="配件"></nz-option>
                    <nz-option nzValue="1" nzLabel="耗材"></nz-option>
                    <nz-option nzValue="2" nzLabel="整机"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">系列名称</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <input style="width: 100%;" nz-input placeholder="请填写" formControlName="seriesName" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">版本号</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <nz-input-number formControlName="seriesVersion" [nzMin]="0" [nzMax]="10000000" [nzStep]="1">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">安全线</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <nz-input-number formControlName="safetyThreshold" [nzMin]="0" [nzMax]="10000000" [nzStep]="1">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">预警线</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <nz-input-number formControlName="warningThreshold" [nzMin]="0" [nzMax]="100000000" [nzStep]="1">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>



            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">是否停用</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <label nz-checkbox formControlName="isDisabled">配件是否停用</label>
                </nz-form-control>
              </nz-form-item>
            </nz-col>

            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">安全配件</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <label nz-checkbox formControlName="isSafetyAccessory">是否安全配件</label>
                </nz-form-control>
              </nz-form-item>
            </nz-col>

            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">备注</nz-form-label>
                <nz-form-control nzSpan="18" [nzErrorTip]="errorTpl">
                  <textarea nz-input placeholder="请填写" formControlName="note"
                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
              </nz-form-item>
            </nz-col>


            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzSpan="5">图片</nz-form-label>
                <nz-form-control nzSpan="18">
                  <nz-upload [nzShowButton]="fileList.length < 3" [(nzFileList)]="fileList"
                    [nzCustomRequest]="fileUpload" [nzBeforeUpload]="beforeUpload" nzListType="picture-card">
                    <i nz-icon nzType="plus"></i>
                    <div class="ant-upload-text">Upload</div>
                  </nz-upload>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="5">
                  <button nz-button nzType="primary">保存</button>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </div>

    </ng-container>
  </div>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>

</div>



<!-- 图片放大 -->
<nz-modal nzMaskClosable="false" nzWidth="800px" [(nzVisible)]="showBigImg" (nzOnCancel)="showBigImg=false" nzTitle="图片"
  [nzFooter]="null">
  <div style="text-align: center;position: relative;padding:0 30px;" *ngIf="showBigImg">
    <div class="img_warp">
      <img style="max-width: 100%;max-height: 500px;" [src]="imgList[imgIdx]?.url">
    </div>
    <i *ngIf="imgIdx > 0" (click)="goPre()" class="leftIcon" nz-icon nzType="left" nzTheme="outline"></i>
    <i *ngIf="imgIdx < (totalIdx - 1)" (click)="goNext()" class="rightIcon" nz-icon nzType="right"
      nzTheme="outline"></i>
  </div>
</nz-modal>

<ng-template #errorTpl let-control>
  <ng-container *ngIf="control.hasError('maxlength')">
    最多20个字符!
  </ng-container>
  <ng-container *ngIf="control.hasError('required')">
    请输入
  </ng-container>
</ng-template>